<div>
    <div >

     <b>Assesment id: </b>
    </div>
    <br>
      <div>
        Customer Name: 
      </div>
      <div>
        Assesment Number:
      </div>
      <div>
       Ward:
      </div>
      <div>
        Street:
      </div>
      <div>
        Discription:
      </div>
      <div>
       NIC:
      </div>
      <div>
      Allocation:
      </div>
      <div>
       Nature:
      </div>
      <div>
        Rate:
      </div>
      <div>
        Warrant Rate:
      </div>
      
  <br><br>
  <div class="box" style="position: relative;">

    <div>
      Last Year Arrears:
    </div>
    <div>
      Last Year Warrant:
    </div>
    <div>
      This Year Arrears:
    </div>
    <div>
      This Year Warrant:
    </div>
    <div>
      This Quarter Payment:
    </div>
  
    <br>
  
    <div style="color: blue;">
      Full Total:
    </div>
  
    <hr>
  
    <div style="color: blue;">
      <b>Enter Payment Amount Here:</b>
    </div>
    <br>
    <div style="color: rgb(255, 0, 0);">
      <b>Online Payment Charge Percentage:</b>
    </div>
    <br>
    <div style="color: purple">
      <b>Total Cost You Have To Pay:</b>
    </div>
  
    <div style="position: absolute; bottom: 0; right: 0;">
      <button mat-flat-button color="primary">
        Pay Now
      </button>
    </div>
  
    <br>
  </div>
  
</div>
