
<div  class="container-md">
  <br>
  <mat-horizontal-stepper linear #stepper labelPosition="bottom" [linear]="false" [selectedIndex]="0">
    <mat-step><ng-template  matStepLabel><span class="mat-step">Select Local Office</span></ng-template></mat-step>
    <mat-step><ng-template  matStepLabel><span class="mat-step">Find Registered Services</span></ng-template></mat-step>
    <mat-step><ng-template  matStepLabel><span class="mat-step">Make Payment</span></ng-template></mat-step>
  </mat-horizontal-stepper>

  <br>
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

          <!-- Column definitions -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef><b>Province</b></th>
            <td mat-cell *matCellDef="let element">{{ element.district.province.nameEnglish }}</td>
          </ng-container>

          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef><b>Local Authority</b></th>
            <td mat-cell *matCellDef="let element">{{ element.nameEnglish }}</td>
          </ng-container>


          <!-- Your component's template file (e.g., app.component.html) -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef><b>Action</b></th>
            <td mat-cell *matCellDef="let element">
              <button class="view btn-primary btn"    (click)="onSelect(element)" data-toggle="tooltip" data-placement="right" title="View">
                <i class="fa-solid fa-arrow-pointer"></i>
              </button>
            </td>
          </ng-container>


          <!-- Row content -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>


      <br>




  <div class="stepper-buttons">
    <button mat-flat-button color="primary" (click)="prevStep()" *ngIf="currentStep != 0">
      &#8592; Back
    </button>
    <button mat-flat-button color="primary" (click)="nextStep()" *ngIf="currentStep === steps.length -2 ">
      Next &rarr;
    </button>
  </div>
</div>

<br>
